body {
    --accent-h: 195;
    --accent-s: 48%;
    --accent-l: 44%;
}

/* Light theme */
.theme-light {
    --craft-color-paper: #FCFCF9;
    --craft-color-blue: #3A8CA7;
    --craft-color-red: #A84C2F;
    --craft-color-text: #13343B;

    --text-normal: var(--craft-color-text);

    --background-primary: var(--craft-color-paper);
    --background-secondary: var(--craft-color-paper);
    scrollbar-color:  #888 var(--craft-color-paper);

    --titlebar-background: var(--craft-color-blue); 
    --titlebar-background-focused: var(--craft-color-blue); 
    
    --divider-color: var(--craft-color-blue);
    --divider-color-hover: var(--color-accent-2);
    --divider-width: 2px;
    --divider-width-hover: 3px;
}

.theme-light .workspace-ribbon {
    --ribbon-background: var(--craft-color-blue);
    --ribbon-background-collapsed: var(--craft-color-blue);
}

.theme-light .sidebar-toggle-button,
.theme-light .side-dock-actions {
    --icon-color: var(--craft-color-paper);
    --icon-color-hover: var(--craft-color-paper);
    --icon-color-active: var(--craft-color-paper);
    --icon-color-focused: var(--craft-color-blue);
}


.theme-light .workspace-leaf {
    --icon-color: var(--craft-color-text);
}

.theme-light .tree-item-self {
    --icon-color: var(--craft-color-text);
}

.theme-light .workspace-tab-header {
    --icon-color: var(--craft-color-paper);
    --tab-text-color: var(--craft-color-paper);
    --icon-color-hover: var(--craft-color-paper);
    --tab-text-color-focused: var(--craft-color-paper);
}

.theme-light .workspace-tab-header.is-active {
    --background-modifier-hover: var(--craft-color-paper);
    --tab-text-color-focused-active-current: var(--craft-color-text);
}

.theme-light .workspace-tab-header-status-icon {
    --text-accent: var(--craft-color-text);
}

.theme-light .workspace-tabs {
    --tab-container-background: var(--craft-color-blue);
}